
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirect</title>
    <script type="text/javascript">
        window.close();
    </script>
</head>
<body>
    <div>
        <p>Please wait...</p>
    </div>
</body>
</html>
