<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ReportingExtensions" type="BoldReports.Configuration.Extensions, BoldReports.Web" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="AppDataPath" value="\..\App_Data\" />
    <add key="SystemConfigurationPath" value="\..\Configuration\" />
    <add key="log4net.Config" value="Log4Net.config" />
    <add key="UseProxyServer" value="false" />
    <add key="HostName" value="" />
    <add key="Schema" value="" />
    <add key="Port" value="" />
    <add key="PrivateKeysPath" value="\..\..\IDP\App_Data\Configuration\" />
  </appSettings>
  <ReportingExtensions configSource="bin\ReportExtension.config" />
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add physicalMemoryLimitPercentage="20" name="default" pollingInterval="00:15:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <system.web>
    <machineKey validationKey="BA8C03E93FB01BB948D26896BBDD5D1E32F6B94F51406AB51E92DF875F713DD367EA3FE7C9A2BF9513463B86202E54B99C6D521BED2CB8BF3101CB39565F7C12" decryptionKey="F4EA253B1AFB22C8B352608EF2E145D7F50C5872440D5C78" validation="SHA1" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" />
    <authentication mode="Forms">
      <forms enableCrossAppRedirects="true" cookieless="AutoDetect" protection="All" name="ReportServerAuth" slidingExpiration="true" />
    </authentication>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>